/* Colors */
$body-background-color:#e9f0f5;
$hover-background-color:#ffffee;
$light-yang-color:lightblue;
$light-yin-color:pink;
$pattern-code-color:grey;
$primary-text-color:#000;
$vision-title-color:gold;
$yang-color:blue;
$yang-hover-color:#bbffdd;
$yang-panel-header-color:#fff;
$yin-color:red;
$yin-hover-color:#ffcccc;
$yin-panel-header-color:lightred;

/* Dimension */
$basic-margin:10px;
$body-max-width:1325px;
$border-radius:10px;
$double-margin:20px;
$minus-one-margin:-1px;

/* Font Size */
$block-text-font-size:16px;
$primary-larger-text-font-size:14px;
$primary-text-font-size:12px;
$route-menu-font-size:13px;
$small-note-font-size:11px;
$yt-panel-header-font-size:18px;