/* Colors */
$basic-highlight-border:#fff;
$body-background-color:#e9f0f5;
$hover-background-color:#ffffee;
$light-yang-color:lightblue;
$light-yin-color:pink;
$pattern-code-color:grey;
$primary-text-color:#000;
$yang-color:blue;
$yang-highlight-border:lightgreen;
$yang-hover-color:#bbffdd;
$yang-panel-header-color:#fff;
$yin-color:red;
$yin-highlight-border:lightpink;
$yin-hover-color:#ffcccc;
$yin-panel-header-color:lightred;

/* Numbers */
$basic-margin:10px;
$body-max-width:1410px;
$border-radius-1:5px;
$border-radius-2:10px;
$border-thickness-1:1px;
$double-margin:20px;
$minus-one-margin:-1px;
$transition-seconds:0.5s;
$width-percentage:98%;

/* Font Size */
$block-text-font-size:16px;
$primary-larger-text-font-size:14px;
$primary-text-font-size:12px;
$route-menu-font-size:13px;
$small-note-font-size:11px;
$yt-panel-header-font-size:18px;