<div ng-controller='Flock'>
    <div ng-hide='flock.error'>
        <div class='col-sm-12 fs16'>The flock of the same forecast, listed <span class='fs12'> <i>in descending order on the category and begin-date</i>:</span></div>
        <div class='col-sm-12 btn-group'>
            <!-- yang buttons -->
            <span class='pull-left btn btn-info cursor-up'>{{yang|uppercase}}: {{flock.yang_doors}}</span>
            <span ng-repeat='ticker in flock.tickers | orderBy:predicate:reverse | door:yang' ng-click='selectSP1(clicklist, yang, $index + 1)' title='{{ticker.tick.titl}}' class='btn btn-info pull-left fs14'>{{ticker.tick.name}}&nbsp;{{ticker.door.dat1}}</span>
            <!-- yin buttons -->
            <span class='pull-left btn btn-warning cursor-dn'>{{yin|uppercase}}: {{flock.yin_doors}}</span>
            <span ng-repeat='ticker in flock.tickers | orderBy:predicate:reverse | door:yin' ng-click='selectSP1(clicklist, yin, $index + 1)' title='{{ticker.tick.titl}}' class='btn btn-warning pull-left fs14'>{{ticker.tick.name}}&nbsp;{{ticker.door.dat1}}</span>
        </div>
    </div>

    <pre class='col-sm-12'></pre>

    <div ng-show='flock.tickers'>
        <div class='col-sm-12'>
            <span class='fs15'>Forecast<span class='fs12'><i>-timing sequential number in descending order</i></span>:</span>
        </div>
        <!-- left yang side -->
        <div class="col-sm-6">
            <div class='panel panel-primary'>
                <div class='panel-heading'>
                    <h3 class='panel-title txce fs18'>{{yang|uppercase}}</h3>
                </div>
                <div class='panel-body fs14'>
                    <!-- pagination -->
                    <div class='btn-group'>
                        <button type='button' class='btn btn-default' ng-repeat='ticker in flock.tickers | flockPageCount:yang:pageSize:flock.ticker:flock.dat1' ng-click='selectFlockPage(clickpage, yang, $index + 1)' ng-class='getFlockPageClass(yang, $index + 1)'>{{$index + 1}}</button>
                    </div>
                    <div><br/></div>
                    <div ng-repeat='ticker in flock.tickers | orderBy:predicate:reverse |
                        range:yang:yangFlockSP:pageSize'>
                        <div class='panel panel-info'>
                            <div class='panel-heading'><h4 class='panel-title'><span title='{{ticker.tick.titl}}'>{{ticker.tick.name}}<span class='fs12'><i>-{{ticker.tick.sequ}}</i></span></span></h4></div>
                            <div class='panel-body'>
                                <section>
                                    <div class="monsea">Metaphore, Trace, {{ticker.door.dat1}}:</div>
                                    <div ng-include='"/boc/" + ticker.door.fore + ".html"'></div>
                                </section><br>
                                <section>
                                    <div class="monsea">Session:</div>
                                    <current-session s="ticker" t="yang"></current-session>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- right yin side -->
        <div class="col-sm-6">
            <div class='panel panel-danger'>
                <div class='panel-heading'>
                    <h3 class='panel-title txce fs18'>{{yin|uppercase}}</h3>
                </div>
                <div class='panel-body fs14'>
                    <!-- pagination -->
                    <div class='btn-group'>
                        <button type='button' class='btn btn-default' ng-repeat='ticker in flock.tickers | flockPageCount:yin:pageSize:flock.ticker:flock.dat1' ng-click='selectFlockPage(clickpage, yin, $index + 1)' ng-class='getFlockPageClass(yin, $index + 1)'>{{$index + 1}}</button>
                    </div>
                    <div><br/></div>
                    <div ng-repeat='ticker in flock.tickers | orderBy:predicate:reverse | 
                        range:yin:yinFlockSP:pageSize'>
                        <div class='panel panel-warning'>
                            <div class='panel-heading'><h4 class='panel-title'><span title='{{ticker.tick.titl}}'>{{ticker.tick.name}}<span class='fs12'><i>-{{ticker.tick.sequ}}</i></span></span></h4></div>
                            <div class='panel-body'>
                                <section>
                                    <div class="monsea">Metaphore, Trace, {{ticker.door.dat1}}:</div>
                                    <div ng-include='"/boc/" + ticker.door.fore + ".html"'></div>
                                </section><br>
                                <section>
                                    <div class="monsea">Session:</div>
                                    <current-session s="ticker" t="yin"></current-session>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>