<div ng-controller='Home' class='basic-container'>

    <div ng-cloak ng-hide='portf.error'>
        <div class='col-sm-12'>
            <div class='yt-section-sub'>
                <section class='block-text'>Tickers listed in descending order according to the session-begin-date:</section>
                <!-- countries list -->
                <section class='primary-text'>The world market ETFs/indices:&nbsp;&nbsp;China/PROC (FXI), England (^FTSE), France (^FCHI), Germany (^GDAXI), Greece (GD.AT), H.K./PROC (^HSI), India (^BSESN), Japan (^N225), Korea/ROK (^KS11), Russia (RSX), Taiwan/ROC (^TWII), U.S.A. (^SPX, ^RUT, ^NDX, ^SOX).</section>
            </div>
            <!-- yang buttons -->
            <div class='col-sm-6'>
                <div class='yt-puc-highlight'>
                    <div class='yt-section-sub'>
                        <span class='btn btn-info cursor-dn yt-yang-door-border'>UT (Upward Timing): {{yang_doors1}}</span>
                        <div class='btn-group'>
                            <span
                                ng-repeat='ticker in portf.tickers1 | orderBy:predicate:reverse | door:yang'
                                ng-click='selectSP1(clicklist, yang, $index + 1)'
                                title='{{ticker.tick.titl}}'
                                class='btn btn-info primary-button-text yt-text-shadow'>
                                {{ticker.tick.name}}&nbsp;{{ticker.door.dat1}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- yin buttons -->
            <div class='col-sm-6'>
                <div class='yt-pdc-highlight'>
                    <div class='yt-section-sub'>
                        <span class='btn btn-warning cursor-dn yt-yin-door-border'>DT (Downward Timing): {{yin_doors1}}</span>
                        <div class='btn-group'>
                            <span
                                ng-repeat='ticker in portf.tickers1 | orderBy:predicate:reverse | door:yin'
                                ng-click='selectSP1(clicklist, yin, $index + 1)'
                                title='{{ticker.tick.titl}}'
                                class='btn btn-warning primary-button-text yt-text-shadow'>
                                {{ticker.tick.name}}&nbsp;{{ticker.door.dat1}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='yt-section-sub'>&nbsp;</div>
    <div ng-cloak ng-show='portf.tickers1'>
        <div class='col-sm-12'>
            <div class='yt-section-sub'>
                <span class='block-text'>Weekly Processed <span class='primary-text'>(visit http://blog.udn.com/dan6898/21278469 for the traditional Chinese version)</span>: Added AMZN (Amazon)<br>
            </div>
        </div>
        <!-- left yang side -->
        <div id='home-pos' class="col-sm-6">
            <div class='panel panel-primary yt-panel'>
                <div class='panel-heading'>
                    <h3 class='panel-title yt-yang-panel-header'>UT</h3>
                </div>
                <div class='panel-body primary-larger-text'>
                    <!-- pagination -->
                    <div class='btn-group yt-section-sub'>
                        <button type='button' class='btn btn-default' ng-click='pageScroll.page("app0top")'>Top</button>
                        <button type='button' class='btn btn-default' ng-repeat='ticker in portf.tickers1 | pageCount:yang:pageSize' ng-click='selectSP1(clickpage, yang, $index + 1)' ng-class='getSP1Class(yang, $index + 1)'>{{$index + 1}}</button>
                    </div>
                    <div ng-repeat='ticker in portf.tickers1 | orderBy:predicate:reverse | range:yang:yangSP1:pageSize' class='yt-section-sub'>
                        <div class='panel panel-info' ng-controller='StockREST'>
                            <div class='panel-heading'>
                                <h4 class='panel-title'>
                                    <span title='{{ticker.tick.titl}}'>{{ticker.tick.name}}</span>
                                    <!-- Wait to be fixed, can not dig out sessions of the same fore code: a ng-href='#/trace/{{ticker.door.fore}}/{{ticker.door.type}}' class='pull-right route-menu'>Trace</a><span class='pull-right'>&nbsp;&nbsp;</span -->
                                    <!-- <a ng-href='#/chart/{{ticker.tick.name}}' class='pull-right route-menu'>Chart</a><span class='pull-right'>&nbsp;&nbsp;</span> -->
                                    <a ng-href='#/archive/{{ticker.tick.name}}' class='pull-right route-menu'>Archive</a>
                                </h4>
                            </div>
                            <div class='panel-body' ng-mousemove='getQuote(ticker.tick.name)'
                                 ng-click='getQuote(ticker.tick.name)'>
                                <div class='yt-yang-highlight'>
                                    <div class='yt-section-sub'>
                                        Quote: <button class='cursor-on btn btn-info yt-text-shadow'>&nbsp;&nbsp;{{lastTradePriceOnly}}&nbsp;&nbsp;{{lastTradeTime}}&nbsp;&nbsp;{{lastTradeDate}}</button><br>
                                        <span class='small-note'>*Just move or click the cursor around here to get the quote updated.</span>
                                    </div>
                                </div>
                                <div class='yt-yang-highlight'>
                                    <section class='yt-section-sub'>
                                        <h4>{{ticker.door.dat1}} {{ticker.tick.name}} Metaphore:</h4>
                                        <div class='yt-metaphore'><span ng-include='"/boc/" + ticker.door.fore + ".html"'></span></div>
                                    </section>
                                    <section class='yt-section-sub'>
                                        <h5>Average Pattern Top from the Portfolio:</h5>
                                        <pattern-data g="getColor(d)" s="ticker" t="yang"></pattern-data>
                                    </section>
                                    <section class='yt-section-sub'>
                                        <metaphore-note a="average(f1, f2)" r="roundup(f, p)" s="ticker" t="yang"></metaphore-note>
                                    </section>
                                    <section class='yt-section-sub'>
                                        <h5>Average {{ticker.tick.name}} Session Top:</h5>
                                        <session-data r="roundup(f, p)" s="ticker" t="yang"></session-data>
                                    </section>
                                </div>
                                <div class='yt-yang-highlight'>
                                    <div class='yt-section-sub'>
                                        <h4>Average {{ticker.tick.name}} Top Months:</h4>
                                        <monthly-season g="getColor(d)" s="ticker" t="yang"></monthly-season>
                                    </div>
                                </div>
                                <div class='yt-yang-highlight'>
                                    <div class='yt-section-sub'>
                                        <h4>Current {{ticker.tick.name}} Session:</h4>
                                        <last-date-price-proc s="ticker.door.mclo"></last-date-price-proc>
                                        <current-session ctf="convertToFloat(vs)" s="ticker" t="yang"></current-session>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- right yin side -->
        <div id='home-neg' class="col-sm-6">
            <div class='panel panel-danger'>
                <div class='panel-heading'>
                    <h3 class='panel-title yt-yin-panel-header'>DT</h3>
                </div>
                <div class='panel-body primary-larger-text'>
                    <!-- pagination -->
                    <div class='btn-group yt-section-sub'>
                        <button type='button' class='btn btn-default' ng-click='pageScroll.page("app0top")'>Top</button>
                        <button type='button' class='btn btn-default' ng-repeat='ticker in portf.tickers1 | pageCount:yin:pageSize' ng-click='selectSP1(clickpage, yin, $index + 1)' ng-class='getSP1Class(yin, $index + 1)'>{{$index + 1}}</button>
                    </div>
                    <div ng-repeat='ticker in portf.tickers1 | orderBy:predicate:reverse | range:yin:yinSP1:pageSize' class='yt-section-sub'>
                        <div class='panel panel-warning' ng-controller='StockREST'>
                            <div class='panel-heading'>
                                <h4 class='panel-title'>
                                    <span title='{{ticker.tick.titl}}'>{{ticker.tick.name}}</span>
                                    <!-- Wait to be fixed, can not dig out sessions of the same fore code: a ng-href='#/trace/{{ticker.door.fore}}/{{ticker.door.type}}' class='pull-right route-menu'>Trace</a><span class='pull-right'>&nbsp;&nbsp;</span -->
                                    <!-- <a ng-href='#/chart/{{ticker.tick.name}}' class='pull-right route-menu'>Chart</a><span class='pull-right'>&nbsp;&nbsp;</span>  -->
                                    <a ng-href='#/archive/{{ticker.tick.name}}' class='pull-right route-menu'>Archive</a>
                                </h4>
                            </div>
                            <div class='panel-body' ng-mousemove='getQuote(ticker.tick.name)'
                                 ng-click='getQuote(ticker.tick.name)'>
                                <div class='yt-yin-highlight'>
                                    <div class='yt-section-sub'>
                                        Quote: <button class='cursor-on btn btn-warning yt-text-shadow'>&nbsp;&nbsp;{{lastTradePriceOnly}}&nbsp;&nbsp;{{lastTradeTime}}&nbsp;&nbsp;{{lastTradeDate}}</button><br>
                                        <span class='small-note'>*Just move or click the cursor around here to get the quote updated.</span>
                                    </div>
                                </div>
                                <div class='yt-yin-highlight'>
                                    <section class='yt-section-sub'>
                                        <h4>{{ticker.door.dat1}} {{ticker.tick.name}} Metaphore:</h4>
                                        <div class='yt-metaphore'><span ng-include='"/boc/" + ticker.door.fore + ".html"'></span></div>
                                    </section>
                                    <section class='yt-section-sub'>
                                        <h5>Average Pattern Bottom from the Portfolio:</h5>
                                        <pattern-data g="getColor(d)" s="ticker" t="yin"></pattern-data>
                                    </section>
                                    <section class='yt-section-sub'>
                                        <metaphore-note a="average(f1, f2)" r="roundup(f, p)" s="ticker" t="yin"></metaphore-note>
                                    </section>
                                    <section class='yt-section-sub'>
                                        <h5>Average {{ticker.tick.name}} Session Bottom:</h5>
                                        <session-data r="roundup(f, p)" s="ticker" t="yin"></session-data>
                                    </section>
                                </div>
                                <div class='yt-yin-highlight'>
                                    <div class='yt-section-sub'>
                                        <h4>Average {{ticker.tick.name}} Bottom Months:</h4>
                                        <monthly-season g="getColor(d)" s="ticker" t="yin"></monthly-season>
                                    </div>
                                </div>
                                <div class='yt-yin-highlight'>
                                    <div class='yt-section-sub'>
                                        <h4>Current {{ticker.tick.name}} Session:</h4>
                                        <last-date-price-proc s="ticker.door.mclo"></last-date-price-proc>
                                        <current-session ctf="convertToFloat(vs)" s="ticker" t="yin"></current-session>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>