<div ng-controller='Trace' class='basic-container'>
    <div ng-cloak ng-hide='trace.error' class='col-sm-12'>
        <div ng-if='trace.yang_doors > 0' class='col-sm-6'>
            <!-- yang buttons -->
            <div class='yt-basic-highlight'>
                <div class='yt-section-sub'>
                    <div class='btn-group'>
                        <span ng-repeat='ticker in trace.tickers | orderBy:predicate:reverse | door:yang'
                              ng-click='selectTracePage(clicklist, yang, $index + 1)'
                              title='{{ticker.tick.titl}}'
                              class='btn btn-info pull-left primary-larger-text yt-text-shadow'>{{ticker.tick.name}}&nbsp;{{ticker.door.dat1}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if='trace.yin_doors > 0' class='col-sm-6'>
            <!-- yin buttons -->
            <div class='yt-basic-highlight'>
                <div class='yt-section-sub'>
                    <div class='btn-group'>
                        <span ng-repeat='ticker in trace.tickers | orderBy:predicate:reverse | door:yin' 
                              ng-click='selectTracePage(clicklist, yin, $index + 1)' 
                              title='{{ticker.tick.titl}}' 
                              class='btn btn-warning pull-left primary-larger-text yt-text-shadow'>{{ticker.tick.name}}&nbsp;{{ticker.door.dat1}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show='trace.tickers' class='col-sm-12'>
        <!-- left yang side -->
        <div ng-if='trace.yang_doors > 0' id='tracepos' class='col-sm-6 yt-section-main'>
            <div class='panel panel-primary'>
                <div class='panel-body primary-larger-text'>
                    <!-- pagination -->
                    <div class='btn-group'>
                        <!-- button type='button' class='btn btn-default' ng-click='pageScroll.page("app0top")'>Top</button -->
                        <button type='button' class='btn btn-default' ng-repeat='ticker in trace.tickers | tracePageCount:yang:pageSize:trace.fore' ng-click='selectTracePage(clickpage, yang, $index + 1)' ng-class='getTracePageClass(yang, $index + 1)'>{{$index + 1}}</button>
                    </div>
                    <div ng-repeat='ticker in trace.tickers | orderBy:predicate:reverse | range:yang:yangTraceSP:pageSize' class='yt-section-sub'>
                        <div class='panel panel-info'>
                            <div class='panel-heading'><h4 class='panel-title'><span title='{{ticker.tick.titl}}'>{{ticker.tick.name}}<span class='primary-text'><i>-{{ticker.tick.sequ}}</i></span></span></h4></div>
                            <div class='panel-body'>
                                <div class='yt-yang-highlight'>
                                    <section class='yt-section-sub'>
                                        <h4>Verse, Trace, {{ticker.door.dat1}}:</h4>
                                        <div ng-include='"/boc/" + ticker.door.fore + ".html"'></div>
                                    </section>
                                </div>
                                <div class='yt-yang-highlight'>
                                    <section class='yt-section-sub'>
                                        <h4>Session:</h4>
                                        <current-session ctf="convertToFloat(vs)" s="ticker" t="yang"></current-session>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- right yin side -->
        <div ng-if='trace.yin_doors > 0' id='traceneg' class='col-sm-6 yt-section-main'>
            <div class='panel panel-danger'>
                <div class='panel-body primary-larger-text'>
                    <!-- pagination -->
                    <div class='btn-group'>
                        <!-- button type='button' class='btn btn-default' ng-click='pageScroll.page("app0top")'>Top</button -->
                        <button type='button' class='btn btn-default' ng-repeat='ticker in trace.tickers | tracePageCount:yang:pageSize:trace.fore' ng-click='selectTracePage(clickpage, yin, $index + 1)' ng-class='getTracePageClass(yin, $index + 1)'>{{$index + 1}}</button>
                    </div>
                    <div ng-repeat='ticker in trace.tickers | orderBy:predicate:reverse | range:yin:yinTraceSP:pageSize' class='yt-section-sub'>
                        <div class='panel panel-warning'>
                            <div class='panel-heading'><h4 class='panel-title'><span title='{{ticker.tick.titl}}'>{{ticker.tick.name}}<span class='primary-text'><i>-{{ticker.tick.sequ}}</i></span></span></h4></div>
                            <div class='panel-body'>
                                <div class='yt-yin-highlight'>
                                    <section class='yt-section-sub'>
                                        <h4>Verse, Trace, {{ticker.door.dat1}}:</h4>
                                        <div ng-include='"/boc/" + ticker.door.fore + ".html"'></div>
                                    </section>
                                </div>
                                <div class='yt-yin-highlight'>
                                    <section class='yt-section-sub'>
                                        <h4>Session:</h4>
                                        <current-session ctf="convertToFloat(vs)" s="ticker" t="yin"></current-session>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>