<div ng-if="s.mon2.m12.cnt>0">Dec: <span ng-class="g({d:t})">{{s.mon2.m12.avg}}</span></div>
<div ng-if="s.mon2.m11.cnt>0">Nov: <span ng-class="g({d:t})">{{s.mon2.m11.avg}}</span></div>
<div ng-if="s.mon2.m10.cnt>0">Oct: <span ng-class="g({d:t})">{{s.mon2.m10.avg}}</span></div>
<div ng-if="s.mon2.m09.cnt>0">Sep: <span ng-class="g({d:t})">{{s.mon2.m09.avg}}</span></div>
<div ng-if="s.mon2.m08.cnt>0">Aug: <span ng-class="g({d:t})">{{s.mon2.m08.avg}}</span></div>
<div ng-if="s.mon2.m07.cnt>0">Jul: <span ng-class="g({d:t})">{{s.mon2.m07.avg}}</span></div>
<div ng-if="s.mon2.m06.cnt>0">Jun: <span ng-class="g({d:t})">{{s.mon2.m06.avg}}</span></div>
<div ng-if="s.mon2.m05.cnt>0">May: <span ng-class="g({d:t})">{{s.mon2.m05.avg}}</span></div>
<div ng-if="s.mon2.m04.cnt>0">Apr: <span ng-class="g({d:t})">{{s.mon2.m04.avg}}</span></div>
<div ng-if="s.mon2.m03.cnt>0">Mar: <span ng-class="g({d:t})">{{s.mon2.m03.avg}}</span></div>
<div ng-if="s.mon2.m02.cnt>0">Feb: <span ng-class="g({d:t})">{{s.mon2.m02.avg}}</span></div>
<div ng-if="s.mon2.m01.cnt>0">Jan: <span ng-class="g({d:t})">{{s.mon2.m01.avg}}</span></div>
<div ng-if="s.mon2.m12.cnt==0 && s.mon2.m11.cnt==0 && s.mon2.m10.cnt==0 && s.mon2.m09.cnt==0 && s.mon2.m08.cnt==0 && s.mon2.m07.cnt==0 && s.mon2.m06.cnt==0 && s.mon2.m05.cnt==0 && s.mon2.m04.cnt==0 && s.mon2.m03.cnt==0 && s.mon2.m02.cnt==0 && s.mon2.m01.cnt==0">No reference data points.</div>